.container {
    padding: 10px 0;
}

.item {
    margin-bottom: 30px;
}

.title {
    margin: 0 0 5px 0;
    font-size: 24px;
    font-weight: 700;
    color: darkblue;
}

.text {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}